node_modules
.git
.github
*.log
.env
.env.*
!.env.example
.DS_Store
.vscode
.idea
*.md
!README.md
packages/*/dist
packages/www/dist
packages/console/dist
packages/server/static
coverage
.nyc_output
*.tsbuildinfo
